@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.h1 {
  font-size: 50px;
  font-weight: 500;
  color: #333;
}

.h2 {
  font-size: 40px;
  font-weight: 500;
  color: #000;
}

.h3 {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.h5 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.h5:hover {
  color: #cc0a0a;
}

.nav__item {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.nav__item:hover {
  color: #cc0a0a;
}

.nav__item:active {
  color: #cc0a0a;
}

.nav__item:target {
  color: #cc0a0a;
}

.p {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.comment {
  font-size: 13px;
  font-weight: 400;
  color: #888;
}

.tag {
  font-size: 13px;
  font-weight: 400;
  color: #cc0a0a;
}

.tag:hover {
  color: #ff0000;
}

.product .description .specifications-product .product-tables .table__jet-link {
  color: #cc0a0a;
}

.product .description .specifications-product .product-tables .table__jet-link:hover {
  color: #ff0000;
}

.product .card .order__button, .stock__button {
  width: 164px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  border-radius: 45px;
  text-transform: uppercase;
}

.product .card .order__button:hover, .stock__button:hover {
  background-color: #ff0000;
}

.product .card .order__button:active, .stock__button:active {
  background-color: #ff0000;
}

.carousel-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-button__thumb {
  height: 24px;
}

.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header start*/
.header {
  position: relative;
  -webkit-box-shadow: 0px 10px 12px #DDDDDD;
          box-shadow: 0px 10px 12px #DDDDDD;
  padding: 29px 0 24px 0;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo-name {
  display: inline-block;
  margin-left: 30px;
}

.logo-name__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0px 10px 0px;
}

.logo-name__title .logo-name--primary {
  font-weight: 400;
  color: #666666;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  margin-left: 29px;
}

.contact-info__line {
  margin-right: 30px;
  width: 2px;
  height: 45px;
  background: #cc0a0a;
}

.contact-info__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info__call {
  margin: 12px 0 0 26px;
  position: relative;
}

.contact-info__call svg {
  width: 16px;
  height: 18px;
  fill: #cc0a0a;
  position: absolute;
  bottom: -2px;
  left: -24px;
}

.contact-info__call:hover svg {
  fill: #ff0000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 20px;
  max-width: 590px;
  margin-left: auto;
}

.nav__item {
  text-decoration: none;
  position: relative;
}

.nav__item:after {
  content: url("../img/down-arrow.png");
  position: absolute;
  top: 0;
  right: -24px;
}

.nav__item:after:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -ms-flex-preferred-size: 118px;
      flex-basis: 118px;
}

.icons-list .burger {
  display: block;
  position: relative;
  width: 20px;
  height: 15px;
  margin: 0 auto;
}

.icons-list .burger__line {
  display: block;
  height: 3px;
  background: #000;
}

.icons-list .burger__line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
}

.icons-list .burger__line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.icons-list__search {
  cursor: pointer;
}

/*header end*/
.tabs {
  padding: 24px 0 22px 0;
  background-color: #f2f2f2;
}

.tabs .tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tabs__item {
  color: #888;
}

.tabs__item--active {
  text-decoration: none;
}

.tabs__line {
  color: #888;
  margin: 0 12px;
}

.product {
  padding-top: 60px;
}

.product .card {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 52px 0 88px 0;
}

.product .card .product-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #E1E1E1;
  max-width: 200px;
  width: 20%;
  padding: 22px 0;
}

.product .card .product-carousel__button-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product .card .product-carousel__image {
  width: 96px;
  height: 90px;
}

.product .card .product-carousel__schema {
  width: 106px;
  height: 76px;
}

.product .card__image {
  padding: 50px 0;
  max-width: 755px;
  width: 80%;
  position: relative;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.product .card__image img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.product .card .card-info {
  max-width: 612px;
  width: 100%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product .card .order {
  max-width: 352px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-bottom: 54px;
  border-bottom: 1px solid #888;
  margin: 0 auto;
}

.product .card .order__price {
  font-weight: 500;
  margin-bottom: 22px;
}

.product .card .order__amount {
  margin-bottom: 20px;
}

.product .card .order__button {
  background-color: #cc0a0a;
  color: white;
}

.product .card .order__existence {
  position: relative;
  margin-left: 40px;
}

.product .card .order__stock {
  position: absolute;
  bottom: -1px;
  left: -20px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.product .card .order__stock--active {
  background-color: #3CAF12;
}

.product .card .order__stock--sold {
  background-color: #cc0a0a;
}

.product .card .specifications {
  max-width: 352px;
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
}

.product .card .specifications .spec-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 27px 0;
}

.product .card .specifications .spec-list-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.product .card .specifications .spec-list-block__name {
  max-width: 206px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .card .specifications .spec-list-block__dots {
  width: 100%;
  margin: 0 3px 2px 3px;
  border-bottom: 1px dotted #333;
}

.product .card .specifications .spec-list-block p {
  display: inline-block;
}

.product .card .specifications__all-properties {
  color: #cc0a0a;
}

.product .card .specifications__all-properties:hover {
  color: #ff0000;
}

.product .description {
  padding-bottom: 130px;
}

.product .description__tabs {
  display: block;
}

.product .description__tabs-buttons {
  position: relative;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
  margin-bottom: 60px;
  /**/
}

.product .description__tabs-buttons h4 {
  display: inline-block;
  color: #888;
  padding-bottom: 17px;
  position: relative;
  cursor: pointer;
}

.product .description__tabs-buttons h4:hover, .product .description__tabs-buttons h4:active {
  color: #000;
}

.product .description__tabs-buttons h4:hover::before, .product .description__tabs-buttons h4:active::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cc0a0a;
}

.product .description__tabs-buttons .description__spec--active {
  color: #000;
}

.product .description__tabs-buttons .description__spec--active::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cc0a0a;
}

.product .description__tabs-buttons .description__spec {
  margin-right: 44px;
}

.product .description__tabs-buttons .description__сomments {
  margin-right: 54px;
}

.product .description .specifications-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .description .specifications-product .text-about-product {
  line-height: 1.6;
  max-width: 878px;
  display: inline-block;
}

.product .description .specifications-product .text-about-product__short-descr {
  margin-bottom: 28px;
}

.product .description .specifications-product .text-about-product__short-descr-title {
  font-weight: 600;
  margin-bottom: 28px;
}

.product .description .specifications-product .text-about-product__advantage {
  line-height: 2;
  margin-bottom: 28px;
}

.product .description .specifications-product .text-about-product__advantage-title {
  font-weight: 600;
}

.product .description .specifications-product .text-about-product__text-img {
  margin-bottom: 42px;
}

.product .description .specifications-product .text-about-product__img {
  margin-bottom: 50px;
}

.product .description .specifications-product .text-about-product__docs {
  margin-top: 56px;
}

.product .description .specifications-product .text-about-product__docs-title {
  font-weight: 600;
  margin-bottom: 25px;
}

.product .description .specifications-product .text-about-product__docs a {
  color: #cc0a0a;
}

.product .description .specifications-product .text-about-product__docs a:hover {
  color: #ff0000;
}

.product .description .specifications-product .text-about-product__pdf {
  margin-bottom: 10px;
}

.product .description .specifications-product .product-tables {
  display: inline-block;
  vertical-align: top;
  max-width: 612px;
  width: 100%;
}

.product .description .specifications-product .product-tables__title {
  font-weight: 600;
  margin-bottom: 23px;
}

.product .description .specifications-product .product-tables__tech-table-container {
  margin-bottom: 72px;
}

.product .description .specifications-product .product-tables .gray-row {
  background-color: #f2f2f2;
}

.product .description .specifications-product .product-tables .table {
  border-collapse: collapse;
  border-spacing: 0;
}

.product .description .specifications-product .product-tables .table, .product .description .specifications-product .product-tables .table td {
  border: 1px solid #E1E1E1;
}

.product .description .specifications-product .product-tables .table td {
  padding-left: 20px;
  height: 40px;
}

.product .description .specifications-product .product-tables .table__big-column {
  width: 368px;
}

.product .description .specifications-product .product-tables .table__sm-column {
  width: 242px;
}

.recommended {
  background-color: #f2f2f2;
  padding: 120px 0 196px 0;
}

.recommended__title {
  margin-bottom: 53px;
}

.recommended .rec-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.recommended .rec-carousel__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.recommended .rec-carousel__buttons {
  position: absolute;
  top: -90px;
  right: 0;
}

.recommended .rec-carousel__buttons button {
  background-color: #fff;
}

.recommended .rec-carousel__buttons button:hover {
  background-color: #f2f2f2;
}

.recommended .rec-carousel__buttons button:active {
  background-color: #888;
}

.recommended .rec-carousel__button-prev {
  margin-right: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.recommended .rec-carousel__button-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.recommended .rec-carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 288px;
  width: 100%;
  height: 418px;
  background-color: #fff;
  border: 1px solid #DCDCDC;
  padding: 40px 19px 42px 19px;
  text-align: center;
  position: relative;
}

.recommended .rec-carousel__img {
  max-height: 282px;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.recommended .rec-carousel__price-old {
  color: #666666;
  font-weight: 500;
  font-size: 16px;
  text-decoration: line-through;
  margin-right: 4px;
}

.recommended .rec-carousel__price-num {
  font-weight: 600;
  font-size: 18px;
}

.recommended .rec-carousel__name {
  line-height: 1.5;
  max-height: 42px;
  margin: 36px 0;
}

.stock {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  text-align: left;
}

.stock .container {
  max-width: 1570px;
}

.stock__container {
  background-color: #cc0a0a;
  color: white;
}

.stock__content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
}

.stock__text {
  display: inline-block;
  width: 75%;
}

.stock__title {
  color: white;
  font-weight: 400;
  margin-bottom: 13px;
}

.stock__button {
  width: 260px;
  color: #cc0a0a;
  margin: 0 auto;
}

.stock__button:hover {
  background-color: #fff;
  color: #ff0000;
}

.stock__button:active {
  color: #000;
}

.footer {
  position: relative;
}

.footer__container {
  margin: 0 auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1330px;
  padding-top: 134px;
  padding-bottom: 66px;
}

.footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  width: 50%;
  row-gap: 32px;
  justify-items: left;
}

.footer__links a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

.footer__links a:hover {
  color: #ff0000;
}

.footer__contact {
  width: 20%;
}

.footer__contact p {
  margin-bottom: 16px;
}

.footer__contact p:last-child {
  margin-bottom: 0;
}

.footer__contact-title {
  margin-bottom: 26px;
}

.footer__contact a {
  color: #cc0a0a;
  text-decoration: none;
}

.footer__contact a:hover {
  color: #ff0000;
}

.footer__icon {
  width: 16px;
  height: 20px;
  fill: #999999;
  vertical-align: bottom;
}

.footer__icon-mail {
  padding-top: 4px;
}

.footer__watermark {
  width: 20%;
  color: #888;
}

.footer__watermark p {
  margin-bottom: 28px;
}

.footer__watermark p:last-child {
  margin-bottom: 0;
}

.footer__social-network {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-network-link {
  text-decoration: none;
  padding-bottom: 9px;
}

.footer__social-network-link:last-child {
  padding-bottom: 0;
}
