@import './reset';

$primary: #ff0000;
$primary-dark: #cc0a0a;
$light-black-color: #333;
$black-color: #000;
$gray-color: #888;
$light-gray-color: #f2f2f2;

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-Regular.ttf') ;
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-Medium.ttf') ;
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-SemiBold.ttf') ;
  font-weight: 600;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: $black-color;
}

.h1 {
  font-size: 50px;
  font-weight: 500;
  color: $light-black-color;
}

.h2 {
  font-size: 40px;
  font-weight: 500;
  color: $black-color;
}

.h3 {
  font-size: 30px;
  font-weight: 500;
  color: $black-color;
}

.h4 {
  font-size: 18px;
  font-weight: 600;
  color: $black-color;
}

.h5 {
  font-size: 16px;
  font-weight: 500;
  color: $light-black-color;

  &:hover {
    color: $primary-dark;
  }
  &:active {
    color: $primary-dark;
  }
  &:target {
    color: $primary-dark;
  }
}

.comment {
  font-size: 13px;
  font-weight: 400;
  color: $gray-color;
}

%link {
  color: $primary-dark;
  &:hover {
    color: $primary;
  }
}
.tag {
  font-size: 13px;
  font-weight: 400;
  color: $primary-dark;
  &:hover {
    color: $primary;
  }
}

@mixin sticker($width, $bgc) {
  width: $width;
  height: 24px;
  background-color: $bgc;
  position: absolute;
  left: -1px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 24px;
  top: 19px;
  cursor: pointer;
  clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
}

.sale-sticker {
  @include sticker(108px, #CC0A09);
}

.hit-sticker {
  @include sticker(108px, #FF9801);
}

.new-sticker {
  @include sticker(87px, #0FA3C7);
}

.card__hit-sticker.hit-sticker {
  top: 19px*2 + 10px;
}
.card__sale-sticker.sale-sticker {
  top: 19px*3 + 10px*2;
}

%button-primary {
  width: 164px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  border-radius: 45px;
  text-transform: uppercase;

  &:hover {
    background-color: $primary;
  }
  &:active {
    background-color: $primary;
  }
}

.carousel-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &__thumb {
    height: 24px;
  }
}

.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: relative;
  box-shadow: 0px 10px 12px #DDDDDD;
  padding: 29px 0 24px 0;
  z-index: 2;
  &__container {
  display: flex;
  align-items: center;
  position:relative;
  }
  
  &__call-icon {
    width: 18px;
    height: 18px;
  }
  &__icons-item-phone {
    display: none;
  }
  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__img {
    width: 48px;
    margin-right: 14px;
  }
  .logo-name {
    display: inline-block;
    margin-left: 30px;
    &__title {
      display: flex;
      margin: 8px 0px 10px 0px;
      & .logo-name--primary {
        font-weight: 400;
        color: #666666;
      }
    }
  }
  .contact-info {
    display: flex;
    margin-top: 11px;
    margin-left: 29px;
  
    &__line {
      margin-right: 30px;
      width: 2px;
      height: 45px;
      background: $primary-dark;
    }
  
    &__phone {
      display: flex;
      flex-direction: column;
    }
  
    &__call {
      margin: 12px 0 0 26px;
      position: relative;
      & svg {
        width: 16px;
        height: 18px;
        fill: $primary-dark;
        position: absolute;
        bottom: -2px;
        left: -24px;
      }
      &:hover svg {
        fill: $primary;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 20px;
    max-width: 590px;
    margin-left: auto;
  
    &-item {
      text-decoration: none;
      position: relative;
  
      &:after {
        content: url('../img/down-arrow.png');
        position: absolute;
        top: 0;
        right: -24px;
      }
      &:last-child::after {
        content: '';
      }
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 62px;
    width: 118px;
  
    .burger-menu {
      display: block;
      position: relative;
      width: 20px;
      height: 15px;
  
      &__line {
        display: block;
        height: 3px;
        background: $black-color;
  
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: $black-color;
        }
  
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $black-color;
        }
      }
    }
  }
  &__search {
    cursor: pointer;
    fill: $light-black-color;
    width: 19px;
    height: 20px;

  }
}

.tabs {
  padding: 24px 0 22px 0;
  background-color: $light-gray-color;

  &-container {
    display: flex;
    justify-content: flex-start;
  }

  &__item {
    color: $gray-color;
    &--active {
      text-decoration: none;
    }
  }

  &__line {
    color: $gray-color;
    margin: 0 12px;
  }
  &__metal, &__pulley {
        white-space: nowrap; 
    overflow: hidden; 


    text-overflow: ellipsis;
  }
}

.product {
  padding-top: 60px;

  .card {
    // height: 600px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 52px 0 88px 0;

    .product-carousel {
      width: 60%;
      display: flex;

      &__image-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E1E1E1;
        padding: 22px 12px;
        width: 20%;
      }
      &__button-prev {
        transform: rotate(180deg);
      }
    
      &__image-block {
        max-width: 96px;
        max-height: 90px;
      }
      &__image {
        width: 100%;
      }
    
      &__head-image {
        width: 80%;
        position: relative;
        border-top: 1px solid $light-gray-color;
        border-bottom: 1px solid $light-gray-color;

        & img {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          max-width: 410px;
          width: 50%;
        }
        &-button {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 10px;
          right: 10px;
          margin: auto 0;
          z-index: 1;
          transform: rotate(90deg);

          &-next {
            margin-left: auto;
            transform: rotate(-90deg);
          }
        }
      }
    }

    .card-info {
      width: 40%;
      background-color: $light-gray-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      min-width: 420px;

      .order {
        max-width: 352px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        align-items: center;
        justify-items: center;
        padding-bottom: 54px;
        border-bottom: 1px solid $gray-color;
        margin: 0 auto;
        padding-top: 80px;
        &__price {
          align-self: flex-start;
        }
        &__amount {
          padding-top: 12px;
          align-self: flex-start;
        }
        &__button {
          background-color: $primary-dark;
          color: white;
          @extend %button-primary;
        }
        &__existence {
          position: relative;
          margin-left: 40px;
        }
        &__stock {
          position: absolute;
          bottom: -1px;
          left: -20px;
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 50%;

          &--active {
            background-color: #3CAF12;
          }
          &--sold {
            background-color: $primary-dark;
          }
        }
      }
    }

    .product-specifications {
      max-width: 352px;
      width: 100%;
      padding: 50px 0 80px 0;

      margin: 0 auto;

      .specifications-list {
        display: flex;
        flex-direction: column;
        margin: 27px 0;
        
        &__item {
          display: flex;
          margin-bottom: 17px;
        }
        &__name {
          max-width: 206px;
          width: 100%;
          display: flex;
        }
        &__dots {
          width: 100%;
          margin: 0 3px 2px 3px;
          border-bottom: 1px dotted $light-black-color;
        }
        & p {
          display: inline-block;
        }
        &__property {
          white-space: nowrap
        }
      }
      &__all-properties {
        color: $primary-dark;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  
  
  .product__about {
    padding-bottom: 130px
  }

  .product__tabs {
    &-buttons {
      position: relative;
      border-bottom: 1px solid #CCCCCC;
      width: 100%;
      margin-bottom: 60px;

      & button {
        display: inline-block;
        color: $gray-color;
        background-color: transparent;
        padding-bottom: 17px;
        position: relative;
        cursor: pointer;

        &:hover, &:active {
          color: $black-color;
          &::before {
            content: '';
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $primary-dark;
          }
        }
      }
      .product__descr--active {
        color: $black-color;
        &::before {
          content: '';
          height: 1px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $primary-dark;
  
        }
      }
      .product__descr {
        margin-right: 44px;
      }
  
      .product__сomments {
        margin-right: 54px;
      }
    }
  }


  .description-product {
    &__container {
      display: flex;
      justify-content: space-between;
    }
    .text-about-product {
      line-height: 1.6;
      width: 100%;
      display: inline-block;
      padding-right: 40px;

      &__short-descr {
        margin-bottom: 28px;
        &-title {
          font-weight: 600;
          margin-bottom: 28px;
        }
      }

      &__advantage {
        line-height: 2;
        margin-bottom: 28px;
        &-title {
          font-weight: 600;

        }
      }
      &__text-img {
        margin-bottom: 42px;
      }
      &__img-container {
        margin-bottom: 50px;
        & img {
          width: 100%;
        }
      }
    }
    .product-tables {
      display: inline-block;
      vertical-align: top;
      max-width: 612px;
      width: 100%;

      &__title {
        font-weight: 600;
        margin-bottom: 23px;
      }
      &__tech-table-container {

        margin-bottom: 72px;
      }
      .gray-row {
        background-color: $light-gray-color;
      }
      .table {
        width:100%;
        border-collapse:collapse;
        border-spacing:0;
        &, & td {
          border: 1px solid #E1E1E1;
        }
        & td {
          word-wrap: break-word;
          padding-left: 20px;
          height: 40px;

        }
        &__big-column {
          width: 368px;
        }
        &__sm-column {
          width: 242px;
        }
        .tech-table {
          &__jet-link {
            @extend %link;
          }
        }
      }
    }
    .product-docs {
      margin-top: 56px;

      &__title {
        font-weight: 600;
        margin-bottom: 25px;
      }
      & a {
        color: $primary-dark;
        &:hover {
          color: $primary;
        }
      }
      &__link {
        line-height: 30px;
      }
      &__pdf {
        margin-bottom: 10px;
      }
    }

    &__big-tabs {
      display: none;
      padding: 30px 0;
      &-button {
        width: 100%;
        padding: 26px 20px;
        text-align: left;
        background-color: transparent;
        border: 1px solid #E7E7E7;
        margin-bottom: 4px;
        font-size: 23px;
        color: $gray-color;
        font-weight: 600;
        &::after {
          content: url(../img/right-arrow-tabs.png);
          position: absolute;
          right: 60px;
        }
      }
    }
  }
}

.recommended {
  background-color: $light-gray-color;
  padding: 120px 0 196px 0;
  position: relative;

  &__title {
    margin-bottom: 53px;
  }
  .rec-carousel {
    position: relative;

    &__card-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
    }

    &__buttons {
      position: absolute;
      top: -90px;
      right: 0;
      & button {
        background-color: #fff;
        &:hover {
          background-color: rgb(211, 211, 211);
        }
      }
    }
    &__button-prev {
      margin-right: 20px;
      transform: rotate(90deg);
    }
    &__button-next {
      transform: rotate(-90deg);
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      min-width: 270px;
      width: 100%;
      height: 418px;
      background-color: #fff;
      border: 1px solid #DCDCDC;
      padding: 40px 30px 42px 30px;
      text-align: center;
      margin-left: 29px;
      &:first-child {
        margin: 0;
      }
    }
    &__img {
      height: 180px;
      display: block;
      margin: 0 auto;
    }
    &__price {
      &-old {
        color: #666666;
        font-weight: 500;
        font-size: 16px;
        text-decoration:line-through;
        margin-right: 4px;
      }
      &-num {
        font-weight: 600;
        font-size: 18px;
      }
    }
    &__name {
      line-height: 1.5;
      max-height: 42px;
      margin: 36px 0;
    }
  }

  .discount {
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 100%;
    line-height: 1.6;
    &, & h3 {
      color: white;
    }
    &__wrapper {

      max-width: 1570px;
    }
    &__background {
      background-color: $primary-dark;
      padding: 0 60px;
    }
    &__content {
      max-width: 1330px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 48px 0;
    }
    &__button {
      @extend %button-primary;
      width: 260px;
      padding: 0 22px;
      margin-left: auto;
      color: $primary-dark;
      background-color: #fff;
      &:hover {
        background-color: #fff;
        color: $primary;
      }
      &:active {
        color: $black-color;
      }
    }
  
}
  
}

.footer {
  position: relative;
  
  &__container {
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1330px;
    padding-top: 134px;
    padding-bottom: 46px;
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    width: 50%;
    row-gap: 32px;

    & a {
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
  }
  &__contact {
    width: 20%;
    
    & p {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-title {
      margin-bottom: 20px;
    }
    & a {
      color: $primary-dark;
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
  }
  &__icon {
    width: 16px;
    height: 20px;
    fill: #999999;
    vertical-align: bottom;

    &-mail {
      padding-top: 4px;
    }
  }
  &__watermark {
    font-size: 14px;
    width: 20%;
    color: $gray-color;
    & p {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__social-network {

    display: flex;
    flex-direction: column;
    align-items: center;
    &-link {
      text-decoration: none;
      padding-bottom: 9px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

/*recommended carousel adaptive*/
@media (max-width: 1600px) {
  .recommended {
    .rec-carousel {
      &__item:nth-child(5) {
        display: none;
      }
    }
  }
}
@media (max-width: 1230px) { 
  .recommended {
    .rec-carousel {
      &__item:nth-child(4) {
        display: none;
      }
    }
  }
}
@media (max-width: 930px) { 
  .recommended {
    .rec-carousel {
      &__item {
        min-width: 221px;
        padding: 33px 9px;
        margin: 0;
      }
      &__item:nth-child(4) {
        display: none;
      }
    }
  }
}
@media (max-width: 730px) {
  .recommended {
    .rec-carousel {
      &__item {
        min-width: 221px;
        padding: 33px 9px;
        margin: 0;
      }
      &__item:nth-child(3) {
        display: none;
      }
    }
  }
}
@media(max-width: 500px) {
  .recommended {
    .rec-carousel {
      &__item {
        min-width: 221px;
        padding: 33px 9px;
        margin: 0;
      }
      &__item:nth-child(2) {
        display: none;
      }
    }
  }
}
/**/

@media (max-width: 1366px) {
  .container {
    padding: 0 30px;
  }
  .header {
    &__nav {
      display: none;
    }
    &__icons {
      width: 90px;
      margin-left: auto;
    }
  }

  .footer {
    padding: 0 30px;
  }
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 45px;
    font-weight: 500;
    color: $light-black-color;
  }
  .h2 {
    font-size: 35px;
    font-weight: 500;
    color: $black-color;
  }
  .h3 {
    font-size: 25px;
    font-weight: 500;
    color: $black-color;
  }

  .product {
    .card {
      margin-bottom: 30px;
    }
    .product__about {
      padding-bottom: 80px;
    }
    .description-product {
      &__container {
        flex-wrap: wrap;

        .text-about-product {
          width: 100%;
          margin-bottom: 50px;
        }

        .product-tables {
          display: flex;
          justify-content: space-between;
          max-width: none;

          &__table {
            margin: 0;
            margin-right: 40px;

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .recommended {
    padding-top: 50px;
    .discount {
      &__content {
        flex-direction: column;
        text-align: center;
        padding: 30px 0 ;
      }
      &__text {
        width: 100%;
        margin-bottom: 24px;
      }
      &__subtitle {
        display: none;
      }
      &__button {
        display: block;
        margin: 0;
      }
    }
  }
  .footer {
    &__container {
      flex-wrap: wrap;
    }
    &__social-network {
      width: 100%;
      flex-direction: row;
      justify-content: center;
        margin-top: 46px;
      &-link {
        padding: 0 5px
      }
    }
  }
}
@media (max-width: 930px) { 
  .header {
    padding: 19px 0 13px 0;
  }
  .product {
    &__title {
      text-align: center;
    }
    .card {
      flex-direction: column;
      justify-content: flex-start;
      .card-info {
        width: 100%;
        flex-direction: row;
        align-items: center;
        .order {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
          border: none;
          padding: 0;
          row-gap: 10px;
        }
        .product-specifications {
          padding: 38px 20px 38px 20px;
        }
      }
      .product-carousel {
        width: 100%;
        border: 1px solid $light-gray-color;
        &__image-list {
          display: none;
        }
        &__head-image {
          width: 100%;
          height: 414px;
          &-button {
            display: block;
          } 
        }
      }
    }
  }
  .recommended {
    &__title {
      text-align: center;
      padding: 0 40px;
    }
    .rec-carousel {
      &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &__button-next {
        right: 0;
      }
    }
  }
  .footer {
    &__container {
      justify-content: flex-start;
    }
    &__links {
      display: none;
    }
    &__contact {
      width: 50%;
      padding-right: 20px;
    }
    &__watermark {
      width: 40%;
    }
  }
}
@media (max-width: 730px) { 
  .h1 {
    font-size: 40px;
    font-weight: 500;
    color: $light-black-color;
  }
  .h2 {
    font-size: 30px;
    font-weight: 500;
    color: $black-color;
  }
  .h3 {
    font-size: 23px;
    font-weight: 500;
    color: $black-color;
  }
  .header {
    padding: 15px 0;
    .contact-info {
      display: none;
    }
    &__icons-item-phone {
      display: block;
    }
    .logo-name {
      margin: 0;
      &__title {
        margin: 0;
      }
      &__subtitle {
        display: none;
      }
    }
  }

  .product {
    padding-top: 30px;
    .description-product {
      &__big-tabs {
        display: block;
        & button::after {
          right: 40px;
        }
      }
      .product-tables {
        flex-direction: column;

        &__tech-table-container {
          margin: 0;
          margin-bottom: 35px;
        }
      }
    }
    .card {
      margin-top: 10px;
    }

    .product__tabs-buttons {
      border: none;
      .product__tabs-item {
        display: none;
        margin: 0;
        font-size: 23px;
        padding: 26px 50px 26px 20px;
        border: 1px solid #D9D9D9;
        text-align: left;
        &:first-child {
          display: block;
          width: 100%;
          position: relative;
          &::before {
            height: 3px;
          }
          &::after {
            content: url(../img/down-arrow-tabs.png);
            position: absolute;
            top: 35%;
            right: 30px;
            width: 13px;
            height: 13px;
          }
        }
      }
    }

  }
}
@media(max-width: 500px) { 
  .h1 {
    font-size: 30px;
    font-weight: 500;
    color: $light-black-color;
  }
  .h2 {
    font-size: 25px;
    font-weight: 500;
    color: $black-color;
  }
  .h3 {
    font-size: 20px;
    font-weight: 500;
    color: $black-color;
  }
  .header {
    padding: 9px 0;
    &__logo {
      margin-right: 10px;
    }
  }
  .container {
    padding: 0 15px;
  }
  .product {
    .card {
      .card-info {
        flex-direction: column;
        min-width: 0;

        .order {
          padding: 30px 20px 0 20px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;

          &__amount {
            font-size: 13px;
            justify-self: flex-start;
          }
          &__existence {
            font-size: 13px;
            margin-left: 25px;
          }
        }
      }
    }
    .product__about {
       padding-bottom: 40px;
    }
  }
  .tech-table__jet-country {
    display: none;
  }
  .footer {
    &__contact {
      padding: 0;
      margin-bottom: 30px;
    }
    &__item {
      text-align: center;
      width: 100%;
    }
  }
}







